@model FitTurkBlog.Entities.Concrete.Blog


@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/Layouts/UserLayout.cshtml";
}

<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-classes py-5">
        <div class="container py-lg-5 py-md-3">
            <h3 class="title-big text-center">BLOG YAZILARI</h3>
            <p class="mt-3">SAĞLIKLI PAYLAŞIM PLATFORMU</p>
        </div>
    </div>
</section>
<!--//banner-->
<section class="banner-bottom">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="@Model.BlogImage" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i>@(((DateTime)Model.BlogCreateDate).ToString(" dd-MMM-yyyy"))
                                    </a>
                                </li>

                                @await Component.InvokeAsync("BlogScoreOnBlog",new{id=Model.BlogID})

                                @await Component.InvokeAsync("CommentCountOnBlog",new{id=Model.BlogID})

                            </ul>
                        </div>
                    </div>

                    <h3>
                        <a href="single.html">@Model.BlogTitle</a>
                    </h3>
                    <p>@Model.BlogContent</p>
                    <div class="container">
                        <div class="banner-info-bg">
                            <a class="btn btn-style btn-primary mt-md-5 mt-4" href="/Blog/Index/">Blog Listesi</a>
                        </div>
                    </div>
                    <div class="media mt-3">
                        <a class="d-flex pr-3" href="#">
                            <img src="@Model.BlogWriter.ImageUrl" alt="" class="img-fluid" />
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">@Model.BlogWriter.NameSurname</h5>
                            <br />
                            <p>
                                @Model.BlogWriter.About.Substring(0,@Model.BlogWriter.About.Substring(0,200).LastIndexOf(" "))...
                            </p>
                        </div>
                    </div>
                </div>

                @await Component.InvokeAsync("CommentListByBlog",new {id = ViewBag.i})
                @*@await Html.PartialAsync("~/Views/Comment/CommentListByBlog.cshtml")*@
                @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml",new {id = ViewBag.i})

            </div>

            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/FitTurkBlog/images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <h3>Bültenimize Abone Olun</h3>
                    <br />
                    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                    @await Component.InvokeAsync("WriterLastBlog",new {id = ViewBag.i})

                    @await Component.InvokeAsync("LastAddedBlog")
                </div>

            </aside>
            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
