@model FitTurkBlog.Entities.Concrete.Blog

@{
    ViewData["Title"] = "BlogAdd";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1>Yeni Blog Girişi</h1>
<br />
<br />

@using (Html.BeginForm("BlogAdd", "Blog", FormMethod.Post))
{
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new{ @class = "form-control"})
    @Html.ValidationMessageFor(x => x.BlogTitle,"",new {@class = "text-danger"})
    <br />
    @Html.Label("Blog Görseli")
    @Html.TextBoxFor(x => x.BlogImage, new{ @class = "form-control"})
    @Html.ValidationMessageFor(x => x.BlogImage,"",new {@class = "text-danger"})
    <br />
    @Html.Label("Blog Küçük Görseli")
    @Html.TextBoxFor(x => x.BlogThumbnailImage, new{ @class = "form-control"})
    @Html.ValidationMessageFor(x => x.BlogThumbnailImage,"",new {@class = "text-danger"})
    <br />
    @Html.Label("Blog Kategorisi")
    @Html.DropDownListFor(x => x.CategoryID,(List<SelectListItem>)ViewBag.cv,new{ @class = "form-control"})
    <br />
    @Html.Label("Blog Durumu")
    @Html.DropDownListFor(x => x.BlogStatus,(List<SelectListItem>)ViewBag.sv,new{ @class = "form-control"})
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x => x.BlogContent,15,3, new{ @class = "form-control"})
    @Html.ValidationMessageFor(x => x.BlogContent,"",new {@class = "text-danger"})
    <br />
    <br />
    <button class="btn btn-dark">Blogu Kaydet</button>
}
