@using FitTurkBlog.Entities.Concrete
@model List<Message2>

<li class="dropdown">

    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope"></i>  <span class="label label-warning">@Model.Count</span>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        <li>
            <div class="dropdown-messages-box">
                <br />
                @foreach (var item in Model)
                {
                    <a class="dropdown-item float-left" href="profile.html">
                        <img alt="image" class="rounded-circle" src="@item.MessageReceiverUser.ImageUrl">
                    </a>
                    <div class="media-body">
                        <strong>@item.MessageSenderUser.NameSurname</strong> sana mesaj gönderdi. <br>
                        <small class="text-muted">
                            @(((DateTime)item.MessageDate).ToString(" dd-MMM-yyyy")) - @(((DateTime)item.MessageDate).ToString(" HH:dd"))
                            @{
                                DateTime tarih1 = DateTime.Now;
                                var tarih2 = item.MessageDate;
                                var fark = (tarih1 - tarih2).TotalSeconds;
                                var sn = Math.Ceiling(fark);
                                var dk = Math.Ceiling(fark / 60);
                                var sa = Math.Ceiling(fark / 3600);
                                var gun = Math.Ceiling(fark / 84600);
                                var hafta = Math.Ceiling(fark / 604800);
                            }
                            @if (fark / 60 < 1)
                            {
                                <small class="float-right"><strong>@sn saniye önce</strong></small>
                            }
                            else if ((fark / 60 > 1 || fark / 60 == 1) && fark / 3600 < 1)
                            {
                                <small class="float-right"><strong>@dk dakika önce</strong></small>
                            }
                            else if ((fark / 3600 > 1 || fark / 3600 == 1) && fark / 86400 < 1)
                            {
                                <small class="float-right"><strong>@sa saat önce</strong></small>
                            }
                            else if ((fark / 84600 > 1 || fark / 84600 == 1))
                            {
                                <small class="float-right"><strong>@gun gün önce</strong></small>
                            }
                            else if ((fark / 604800 > 1 || fark / 604800 == 1))
                            {
                                <small class="float-right"><strong>@hafta hafta önce</strong></small>
                            }
                        </small>
                    </div>
                    <br />
                }
            </div>
        </li>
        <li class="dropdown-divider"></li>
        <li>
            <div class="text-center link-block">
                <a href="/Admin/AdminMessage/Inbox/" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>Tüm Mesajlar</strong>
                </a>
            </div>
        </li>
    </ul>

</li>