<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vUsers</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-database fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vCategory</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vContact</h2>
                </div>
            </div>
        </div>
    </div>
        <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vUSD</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-euro fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vEUR</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-gbp fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.vGBP</h2>
                </div>
            </div>
        </div>
    </div>
</div>