@model FitTurkBlog.UI.Areas.Admin.Models.AdminUpdatePasswordViewModel
@{
    ViewData["Title"] = "AdminEditPassword";
    Layout = "~/Views/Shared/Layouts/AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <br />
    <a class="btn btn-info" href="/Admin/AdminProfile/AdminEditUserName/" style="margin-right:15px">Admin Kullanıcı Ayarları</a>
    <a class="btn btn-secondary" href="/Admin/AdminProfile/AdminEditPassword/" style="margin-right:15px">Admin Şifre Ayarları</a>
    <br />
    <br />
    <br />
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Admin Şifre Ayarları</h4>
            <br />
            <br />
            <form class="forms-sample" method="post">
                @*<div class="form-group">
                <label for="exampleInputEmail3">Mevcut Şifre</label>
                <input type="password" asp-for="@Model.OldPassword" class="form-control">
                </div>*@
                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifre</label>
                    <input type="password" asp-for="@Model.NewPassword" class="form-control" placeholder="Yeni Şifrenizi Giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yeni Şifre Tekrar</label>
                    <input type="password" asp-for="@Model.NewConfirmPassword" class="form-control" placeholder="Yeni Şifre Tekrarınızı Giriniz">
                </div>

                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                <span asp-validation-for="@Model.NewConfirmPassword" class="text-danger"></span>

                <div class="text-danger" style="font-size:14px;" asp-validation-summary="ModelOnly"></div>

                <br />
                <br />
                <br />

                <button type="submit" class="btn btn-warning mr-2">Güncelle</button>
                <button class="btn btn-danger" asp-action="Index" asp-controller="Widget">İptal</button>
            </form>
        </div>
    </div>
</div>



