@using FitTurkBlog.Entities.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "AllMessage";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1>Tüm Mesajlar</h1>
<br />
<br />
<form asp-action="AllMessage" asp-controller="Message" method="get" class="mail-search  float-right ">
    <div class="input-group">
        <input type="text" name="key" id="key" placeholder="Postalarda arama yapın" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Ara" class="btn btn-primary" />
        </div>
    </div>
    <br />
    <br />
</form>
<a href="/Message/AllMessage/" class="btn btn-primary float-left " data-toggle="tooltip" data-placement="left" title="Yenile"><i class="mdi mdi-refresh"></i> Yenile</a>
<br />
<br />
<h3>@ViewBag.w</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Gönderen</th>
            <th>Alıcı</th>
            <th>Mesajın Konusu</th>
            <th>Tarih</th>
            <th>Saat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.MessageReceiverID == ViewBag.vWriterID && item.MessageStatus == true)
            {
                <tr class="unread">
                    <td class="check-mail">
                        <a href="/Message/IsImportant/@item.MessageID/" style="color:black; font-weight:bolder">

                            @if (item.IsImportant == true)
                            {
                                <i class="mdi mdi-star"></i>
                            }
                            else if (item.IsImportant == false)
                            {
                                <i class="mdi mdi-star-outline"></i>
                            }

                        </a>
                    </td>
                    <td class="mail-ontact"><a href="/Message/InboxMessageDetails/@item.MessageID" style="color:black; font-weight:bolder">@item.MessageSenderUser.NameSurname</a></td>
                    <td class="mail-ontact"><a href="/Message/InboxMessageDetails/@item.MessageID" style="color:black; font-weight:bolder">@item.MessageReceiverUser.NameSurname</a></td>
                    <td class="mail-subject"><a href="/Message/InboxMessageDetails/@item.MessageID" style="color:black; font-weight:bolder">@item.MessageSubject</a></td>
                    <td class="mail-date" style="color:black; font-weight:bolder">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                    <td class="mail-date" style="color:black; font-weight:bolder">@(((DateTime)item.MessageDate).ToString("HH:mm"))</td>

                </tr>
            }
            else
            {
                <tr class="read">
                    <td class="check-mail">
                        <a href="/Message/IsImportant/@item.MessageID/" style="color:gray; font-weight:lighter">

                            @if (item.IsImportant == true)
                            {
                                <i class="mdi mdi-star"></i>
                            }
                            else if (item.IsImportant == false)
                            {
                                <i class="mdi mdi-star-outline"></i>
                            }

                        </a>
                    </td>
                    <td class="mail-ontact"><a href="/Message/MessageDetails/@item.MessageID" style="color:gray; font-weight:lighter ">@item.MessageSenderUser.NameSurname</a></td>
                    <td class="mail-ontact"><a href="/Message/MessageDetails/@item.MessageID" style="color:gray; font-weight:lighter">@item.MessageReceiverUser.NameSurname</a></td>
                    <td class="mail-subject"><a href="/Message/MessageDetails/@item.MessageID" style="color:gray; font-weight:lighter">@item.MessageSubject</a></td>
                    <td class="mail-date" style="color:gray; font-weight:lighter ">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                    <td class="mail-date" style="color:gray; font-weight:lighter ">@(((DateTime)item.MessageDate).ToString("HH:mm"))</td>

                </tr>
            }
        }
    </tbody>
</table>
<br />
<a href="/Message/SendMessage/" class="btn btn-dark">Yeni Mesaj Oluştur</a>



