@model FitTurkBlog.Entities.Concrete.Message2

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>
<br />
<br />
@Html.Label("Mesaj ID")
@Html.TextBoxFor(x => x.MessageID, new{ @class = "form-control",@disabled="disabled"})
<br />
@Html.Label("Mesajı Gönderen")
@Html.TextBoxFor(x => x.MessageSenderID, new{ @class = "form-control",@disabled="disabled"})
<br />@Html.Label("Mesajı Alan")
@Html.TextBoxFor(x => x.MessageReceiverID, new{ @class = "form-control",@disabled="disabled"})
<br />
@Html.Label("Mesaj Konusu")
@Html.TextBoxFor(x => x.MessageSubject, new{ @class = "form-control",@disabled="disabled"})
<br />
@Html.Label("Mesaj İçeriği")
@Html.TextBoxFor(x => x.MessageDetails, new{ @class = "form-control",@disabled="disabled"})
<br />
<br />
<a href="/Message/InBox/" class="btn btn-success" style="margin-right:15px">Mesajlara Dön</a>
<a href="/Message/SendMessage/" class="btn btn-info" style="margin-right:15px">Mesaja Cevap Ver</a>
<a href="/Message/DeleteMessage/@Model.MessageID" onclick="return confirm('Mesajı silmek istediğine emin misin?');" class="btn btn-danger" style="margin-right:15px">Mesajı Sil</a>
