@model FitTurkBlog.Entities.Concrete.Message2
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1>Mesaj Gönderme Sayfası</h1>
<br />
<br />
@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.Label("Mesajı Alan")
    @Html.DropDownListFor(x => x.MessageReceiverID,(List<SelectListItem>)ViewBag.mv,new{ @class = "form-control"})
    <br />
    @Html.Label("Mesaj Konusu")
    @Html.TextBoxFor(x => x.MessageSubject, new{ @class = "form-control"})
    <br />
    @Html.Label("Mesaj İçeriği")
    @Html.TextBoxFor(x => x.MessageDetails, new{ @class = "form-control"})
    <br />
    <br />
    <a href="/Message/InBox/" class="btn btn-success" style="margin-right:15px">Mesajlara Dön</a>
    <button class="btn btn-dark">Mesajı Gönder</button>
}
