<div class="row">
    <div class="col-lg-6">
        <div class="widget-head-color-box navy-bg text-center p-lg">
            <img src="@ViewBag.vAdminImage" class="rounded-circle circle-border m-b-md" alt="profile" width="160" height="160">
        </div>
    </div>

    <div class="col-lg-2">
        <div class="widget red-bg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs">@ViewBag.vNotification</h1>
                <h3 class="font-bold no-margins">
                    Bildirimler
                </h3>
                <br />
                <a href="/Admin/AdminNotification/allNotification/" class="btn btn-outline-light">Bildirimlere Git</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget lazur-bg p-lg">

            <h2>
                FITTURKBLOG İLETİŞİM
            </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label>E-posta Adresi :</label>
                    fitturkblog@gmail.com
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label>Adres :</label>
                    Ümraniye, İstanbul, Türkiye
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label>Telefon :</label>
                    +90 216 412 7884
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget-text-box">
            <h4 class="media-heading">@ViewBag.vAdminName &nbsp - &nbsp FitTurkBlog Admini</h4>
            <p>  @ViewBag.vAdminShortDescription.Substring(0,@ViewBag.vAdminShortDescription.Substring(0,150).LastIndexOf(" "))...</p>
            <div class="text-right">
                <a href="/Admin/AdminProfile/Index/" class="btn btn-xs btn-primary">Profilime Git</a>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-right" colspan="2"><strong>Genel İstatistik Tablosu</strong></td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-danger m-r-sm">@ViewBag.vBlogs</button>
                        Bloglar
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary m-r-sm">@ViewBag.vCategories</button>
                        Kategoriler
                    </td>
                    <td>
                        <button type="button" class="btn btn-info m-r-sm">@ViewBag.vComments</button>
                        Yorumlar
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-info m-r-sm">@ViewBag.vWriters</button>
                        Yazarlar
                    </td>
                    <td>
                        <button type="button" class="btn btn-success m-r-sm">@ViewBag.vMessages</button>
                        Mesajlar
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger m-r-sm">@ViewBag.vNotification</button>
                        Bildirimler
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>