@using FitTurkBlog.Entities.Concrete
@model List<Message2>
@{
    ViewData["Title"] = "GetListImportant";
    Layout = "~/Views/Shared/Layouts/AdminLayout.cshtml";
}

<div id="wrapper">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/Admin/AdminMessage/SendMessage/">Yeni Mesaj Oluştur</a>
                            <div class="space-25"></div>
                            <h5>Klasörler</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/Admin/AdminMessage/Inbox/"> <i class="fa fa-inbox "></i> Gelen Mesajlar <span class="label label-warning float-right">@ViewBag.gm</span> </a></li>
                                <li><a href="/Admin/AdminMessage/Sendbox/"> <i class="fa fa-paper-plane"></i> Giden Mesajlar</a></li>
                                <li><a href="/Admin/AdminMessage/GetListImportant/"> <i class="fa fa-certificate"></i> Önemli Mesajlar</a></li>
                                <li><a href="/Admin/AdminMessage/AllMessage/"> <i class="fa fa-envelope-o"></i> Tüm Mesajlar</a></li>
                                <li><a href="/Admin/AdminMessage/GetListTrash/"> <i class="fa fa-trash-o"></i> Çöp Kutusu</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                     <form asp-action="GetListImportant" asp-controller="AdminMessage" method="get" class="float-right mail-search">
                        <div class="input-group">
                            <input type="text" name="key" id="key" placeholder="Postalarda arama yapın" class="form-control form-control-sm" />
                            <div class="input-group-btn">
                                <input type="submit" value="Ara" class="btn btn-sm btn-primary"/>
                            </div>
                        </div>
                    </form>
                    <h2>
                        <strong>Önemli Mesajlar</strong>
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right">
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                            <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                        </div>
                        <a href="/Admin/AdminMessage/GetListImportant/" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Yenile"><i class="fa fa-refresh"></i> Yenile</a>
                    </div>
                </div>
                <div class="mail-box">

                    <table class="table table-hover table-mail">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Gönderen</th>
                                <th>Alıcı</th>
                                <th>Mesajın Konusu</th>
                                <th>Tarih</th>
                                <th>Saat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                @if (item.MessageStatus)
                                {
                                    <tr class="unread">
                                        <td class="check-mail">
                                            <a href="/Admin/AdminMessage/IsImportant/@item.MessageID/">

                                                @if (item.IsImportant == true)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                else if (item.IsImportant == false)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }

                                            </a>
                                        </td>
                                        <td class="mail-ontact"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageSenderUser.NameSurname</a></td>
                                        <td class="mail-ontact"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageReceiverUser.NameSurname</a></td>
                                        <td class="mail-subject"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageSubject</a></td>
                                        <td class="mail-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                        <td class="mail-date">@(((DateTime)item.MessageDate).ToString("HH:mm"))</td>

                                    </tr>
                                }
                                else
                                {
                                    <tr class="read">
                                        <td class="check-mail">
                                            <a href="/Admin/AdminMessage/IsImportant/@item.MessageID/">

                                                @if (item.IsImportant == true)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                                else if (item.IsImportant == false)
                                                {
                                                    <i class="fa fa-star-o"></i>
                                                }
                                        </td>
                                        <td class="mail-ontact"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageSenderUser.NameSurname</a></td>
                                        <td class="mail-ontact"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageReceiverUser.NameSurname</a></td>
                                        <td class="mail-subject"><a href="/Admin/AdminMessage/MessageDetail/@item.MessageID">@item.MessageSubject</a></td>
                                        <td class="mail-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                        <td class="mail-date">@(((DateTime)item.MessageDate).ToString("HH:mm"))</td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

