@using FitTurkBlog.Entities.Concrete
@model List<Blog>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 item">
            <div class="card">
                <div class="card-header p-0 position-relative">
                    <a href="/Blog/BlogReadAll/@item.BlogID/">
                        <img class="card-img-bottom d-block" src="@item.BlogImage" alt="Card image cap" style="width:370px;height:250px">
                    </a>
                    <ul class="location-top">
                        <li class="new">@item.Category.CategoryName</li>
                    </ul>
                    <div class="blog-info-middle">
                        <ul>


                            @await Component.InvokeAsync("BlogScoreOnBlog",new{id=item.BlogID})

                            @await Component.InvokeAsync("CommentCountOnBlog",new{id=item.BlogID})

                        </ul>
                    </div>
                </div>
                <div class="card-body blog-details">
                    <a href="/Blog/BlogReadAll/@item.BlogID/" class="blog-desc">@item.BlogTitle</a>
                    @if (@item.BlogTitle.Length <= 29)
                    {
                        <p>@item.BlogContent.Substring(0,@item.BlogContent.Substring(0,200).LastIndexOf(" "))...</p>
                    }
                    else @if (@item.BlogTitle.Length < 32 && @item.BlogTitle.Length > 29)
                    {
                        <p>@item.BlogContent.Substring(0,@item.BlogContent.Substring(0,175).LastIndexOf(" "))...</p>
                    }
                    else @if (@item.BlogTitle.Length >= 32 && @item.BlogTitle.Length < 35)
                    {
                        <p>@item.BlogContent.Substring(0,@item.BlogContent.Substring(0,175).LastIndexOf(" "))...</p>
                    }
                    else
                    {
                        <p>@item.BlogContent.Substring(0,@item.BlogContent.Substring(0,150).LastIndexOf(" "))...</p>
                    }

                    <div class="author align-items-center mt-3 mb-1">
                        <div class="img-circle">
                            <img src="@item.BlogWriter.ImageUrl" class="mr-3 img-fluid" alt="...">
                        </div>
                        <div class="author-info">
                            <a href="#author">@item.BlogWriter.NameSurname</a> <br> <span class="meta-value">@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</span>
                        </div>
                        <div class="container">
                            <div class="banner-info-bg">
                                <a class="btn btn-style btn-primary mt-md-5 mt-4" href="/Blog/BlogReadAll/@item.BlogID/">Devamını Oku</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        </div>
    }
</div>
