@model FitTurkBlog.UI.Models.UpdatePasswordViewModel
@{
    ViewData["Title"] = "WriterEditPassword";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <a class="btn btn-info" href="/Writer/WriterEditUserName/" style="margin-right:15px">Kullanıcı Adı Güncelle</a>
    <a class="btn btn-danger" href="/Writer/WriterEditPassword/" style="margin-right:15px">Şifre Güncelle</a>
    <br />
</div>
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yazar Şifre Ayarları</h4>
            <br />
            <br />
            <form class="forms-sample" method="post">
                @*<div class="form-group">
                    <label for="exampleInputEmail3">Mevcut Şifre</label>
                    <input type="password" asp-for="@Model.OldPassword" class="form-control">
                </div>*@
                <div class="form-group">
                    <label for="exampleInputEmail3">Yeni Şifre</label>
                    <input type="password" asp-for="@Model.NewPassword" class="form-control" placeholder="Yeni Şifrenizi Giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea1">Yeni Şifre Tekrar</label>
                    <input type="password" asp-for="@Model.NewConfirmPassword" class="form-control" placeholder="Yeni Şifre Tekrarınızı Giriniz">
                </div>

                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                <span asp-validation-for="@Model.NewConfirmPassword" class="text-danger"></span>

                <div class="text-danger" style="font-size:14px;" asp-validation-summary="ModelOnly"></div>
                
                <br />
                <br />
                <br />

                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
                <button class="btn btn-light" asp-action ="Index" asp-controller="Dashboard">İptal</button>
            </form>
        </div>
    </div>
</div>

