@model FitTurkBlog.Entities.Concrete.AppUser
@{
    ViewData["Title"] = "WriterProfile";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1><strong>Profilim</strong></h1>
<br />
<br />
<div class="float-left">
    <br />
    <img src="@Model.ImageUrl" width="250" disabled="disabled" />
</div>
<div class="col-lg-9 float-right">
    <br />
    @Html.Label("Ad-Soyad")
    @Html.TextBoxFor(x => x.NameSurname, new{ @class = "form-control",@disabled="disabled"})
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.UserName, new{ @class = "form-control",@disabled="disabled"})
    <br />
    @Html.Label("E-Posta Adresi")
    @Html.TextBoxFor(x => x.Email, new{ @class = "form-control",@disabled="disabled"})
    <br />
    @Html.Label("Hakkımda")
    @Html.TextAreaFor(x => x.About,20,3, new{ @class = "form-control",@disabled="disabled"})
    <br />
    <br />
    <br />
    <a href="/Writer/WriterEditProfile/@ViewBag.wi/" class="btn btn-warning">Profilimi Düzenle</a>
</div>

